:root {
  --clr-royalBlue: #3662e3;
  --clr-lightBlue: #c2daf9;
  --clr-black: #121826;
  --clr-lightGray: #e5e7eb;
  --clr-white: #ffffff;
  --clr-lightWhite: #f9fafb;
  --clr-lightBlack: #212936;
  --clr-gray: #4d5562;
  --clr-grayShade: #f9fafbcc;
}